# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.env
.env
.env.*
!.env.example
venv/
.venv/
build/
dist/
*.egg-info/
.cache/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# Misc
.DS_Store
